In [15]:
# imports needed
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [21]:
# import NEISS.xlsx
data = pd.read_excel("datasets/NEISS.xlsx")
# data = pd.read_csv('datasets/small.csv')

# Read the DataFrame, first using the feature data
features = ["CPSC_Case_Number", "Treatment_Date", "Age", "Sex",	"Race",	"Body_Part", "Diagnosis",	
    "Disposition", "Location", "Fire_Involvement", "Product_1", "Product_2", "Product_3", 
    "PSU",	"Weight"]
df = pd.DataFrame(data, columns=features)
del data
df.head(5)

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Body_Part,Diagnosis,Disposition,Location,Fire_Involvement,Product_1,Product_2,Product_3,PSU,Weight
0,160624991,42529,23,1,0,75,71,1,1,0,4078,0,0,58,14.6504
1,170160427,42758,63,1,1,31,62,4,1,0,611,0,0,33,16.1828
2,160407329,42450,16,1,3,76,53,1,0,0,1333,0,0,40,14.6504
3,180744877,43231,85,2,1,33,59,1,1,0,4057,0,0,95,17.5136
4,170572200,42882,7,2,0,80,57,4,0,0,1244,0,0,35,14.7756

In [22]:
scaler = MinMaxScaler()
data = pd.DataFrame(scaler.fit_transform(df))
data

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.024969,0.155273,0.103139,0.0,0.000000,0.797872,0.909091,0.000000,0.111111,0.0,0.729140,0.00000,0.0,0.57,0.102764
1,0.480093,0.378906,0.282511,0.0,0.166667,0.329787,0.636364,0.428571,0.111111,0.0,0.093343,0.00000,0.0,0.32,0.118287
2,0.014580,0.078125,0.071749,0.0,0.500000,0.808511,0.363636,0.000000,0.000000,0.0,0.225747,0.00000,0.0,0.39,0.102764
3,0.985286,0.840820,0.381166,1.0,0.166667,0.351064,0.545455,0.000000,0.111111,0.0,0.725289,0.00000,0.0,0.94,0.131767
4,0.499747,0.500000,0.031390,1.0,0.000000,0.851064,0.484848,0.428571,0.000000,0.0,0.209426,0.00000,0.0,0.34,0.104032
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104844,0.512979,0.557617,0.040359,1.0,0.166667,0.882979,0.484848,0.000000,0.000000,0.0,0.207409,0.00000,0.0,0.07,0.002547
104845,0.005596,0.033203,0.152466,1.0,0.166667,0.840426,0.696970,0.000000,0.111111,0.0,0.093343,0.00000,0.0,0.94,0.109830
104846,0.012091,0.046875,0.964126,1.0,0.500000,0.329787,1.000000,0.000000,0.000000,0.0,0.155327,0.32613,0.0,0.09,0.000000
104847,0.031326,0.191406,0.035874,1.0,0.333333,0.319149,0.363636,0.000000,0.000000,0.0,0.905557,0.00000,0.0,0.89,0.000000
104848,0.038656,0.209961,0.286996,0.0,0.000000,0.329787,0.909091,0.000000,1.000000,0.0,0.583532,0.00000,0.0,0.25,0.102764

In [9]:
# split into train and test sets
train, test = train_test_split(df, test_size=0.33)
del df

In [10]:
# save train and test sets to excel files
train.to_csv("datasets/train.csv")
test.to_csv("datasets/test.csv")