In [5]:
# imports needed
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
# import NEISS.xlsx
data = pd.read_excel("datasets/NEISS_short.xlsx")

# Read the DataFrame, first using the feature data
features = ["CPSC_Case_Number", "Treatment_Date", "Age", "Sex",	"Race",	"Other_Race", "Hispanic", "Body_Part", "Diagnosis",	
    "Other_Diagnosis", "Body_Part_2", "Diagnosis_2", "Other_Diagnosis_2", "Disposition", "Location", "Fire_Involvement", 
    "Alcohol",	"Drug",	"Product_1", "Product_2", "Product_3", "Narrative",	"Stratum",	"PSU",	"Weight"]
df = pd.DataFrame(data, columns=features)

df.head(5)

,CPSC_Case_Number,Treatment_Date,Age,Sex,Race,Other_Race,Hispanic,Body_Part,Diagnosis,Other_Diagnosis,...,Fire_Involvement,Alcohol,Drug,Product_1,Product_2,Product_3,Narrative,Stratum,PSU,Weight
0,160101845,2016-01-01,92,1,0,NaN,NaN,79,57,NaN,...,0,NaN,NaN,1645,1807,0,92YOM TRYINGO TO TAKE OFF PANTS AND LOST BALAN...,M,63,103.2251
1,160101847,2016-01-01,90,1,0,NaN,NaN,79,57,NaN,...,0,NaN,NaN,670,0,0,90YOM FELL GETTING OUT OF A RECLINER CHAIR AND...,M,63,103.2251
2,160101848,2016-01-01,71,2,0,NaN,NaN,79,57,NaN,...,0,NaN,NaN,1807,0,0,71YOF SLIPPED AND FELL TO HER WET KITCHEN FLOO...,M,63,103.2251
3,160101852,2016-01-01,71,2,0,NaN,NaN,31,64,NaN,...,0,NaN,NaN,1144,0,0,71YOF CARRYING A 50 POUND BAG AND STRAINED CHE...,M,63,103.2251
4,160101857,2016-01-01,57,1,0,NaN,NaN,83,59,NaN,...,0,NaN,NaN,464,0,0,57YOM DROPPED A KNIFE ONTO LEFT FOOT LACERATIO...,M,63,103.2251

In [7]:
# split into train and test sets
train, test = train_test_split(df, test_size=0.33, random_state=1)
del df, data

In [11]:
# save train and test sets to excel files
train.to_excel("datasets/train.xlsx")
test.to_excel("datasets/test.xlsx")