In [39]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from IPython.display import Image
from six import StringIO
from sklearn.tree import export_graphviz
import pydotplus

In [40]:
df = pd.read_csv('../../datasets/small2.csv', encoding="latin-1")
df.head()

,Unnamed: 0,Unnamed: 0.1,CPSC_Case_Number,Age,Sex,Race,Body_Part,Diagnosis,Disposition,Location,Fire_Involvement,Product_1,Product_2,Product_3,PSU,Weight
0,601638,975932,180833749.0,2,2,2.0,85.0,68.0,1.0,1.0,0.0,1931.0,0.0,0.0,8.0,4.9383
1,495509,125056,160543513.0,63,2,0.0,76.0,59.0,1.0,1.0,0.0,1842.0,0.0,0.0,3.0,63.7429
2,500695,172356,160707763.0,20,2,2.0,38.0,66.0,1.0,0.0,0.0,1842.0,0.0,0.0,91.0,14.6504
3,46230,856221,180444653.0,29,1,1.0,82.0,71.0,1.0,1.0,0.0,4076.0,0.0,0.0,95.0,16.5919
4,504357,381367,170130694.0,66,2,0.0,35.0,53.0,1.0,0.0,0.0,1842.0,0.0,0.0,50.0,67.2099

In [41]:
inputs = df.filter(["Diagnosis", "Age", "Sex","Race", "Body_Part"]).dropna()
inputs

     Diagnosis  Age  Sex  Race  Body_Part
0         68.0    2    2   2.0       85.0
1         59.0   63    2   0.0       76.0
2         66.0   20    2   2.0       38.0
3         71.0   29    1   1.0       82.0
4         53.0   66    2   0.0       35.0
..         ...  ...  ...   ...        ...
698       71.0   72    1   1.0       30.0
699       59.0    6    1   0.0       76.0
700       64.0   58    1   1.0       30.0
701       59.0   55    2   0.0       92.0
702       62.0   25    2   1.0       75.0

[703 rows x 5 columns]

In [42]:
age = LabelEncoder()
sex = LabelEncoder()
race = LabelEncoder()
body_part = LabelEncoder()
inputs["age_n"] = age.fit_transform(inputs["Age"])
inputs["sex_n"] = sex.fit_transform(inputs["Sex"])
inputs["race_n"] = race.fit_transform(inputs["Race"])
inputs["body_n"] = body_part.fit_transform(inputs["Body_Part"])
inputs

     Diagnosis  Age  Sex  Race  Body_Part  age_n  sex_n  race_n  body_n
0         68.0    2    2   2.0       85.0      0      1       2      18
1         59.0   63    2   0.0       76.0     61      1       0      11
2         66.0   20    2   2.0       38.0     18      1       2       9
3         71.0   29    1   1.0       82.0     27      0       1      16
4         53.0   66    2   0.0       35.0     64      1       0       6
..         ...  ...  ...   ...        ...    ...    ...     ...     ...
698       71.0   72    1   1.0       30.0     70      0       1       1
699       59.0    6    1   0.0       76.0      4      0       0      11
700       64.0   58    1   1.0       30.0     56      0       1       1
701       59.0   55    2   0.0       92.0     53      1       0      22
702       62.0   25    2   1.0       75.0     23      1       1      10

[703 rows x 9 columns]

In [43]:
target = inputs["Diagnosis"]
target

0      68.0
1      59.0
2      66.0
3      71.0
4      53.0
       ...
698    71.0
699    59.0
700    64.0
701    59.0
702    62.0
Name: Diagnosis, Length: 703, dtype: float64

In [44]:
inputs_n = inputs.drop(['Diagnosis', 'Age', 'Sex', 'Race', 'Body_Part'], axis='columns')
inputs_n

     age_n  sex_n  race_n  body_n
0        0      1       2      18
1       61      1       0      11
2       18      1       2       9
3       27      0       1      16
4       64      1       0       6
..     ...    ...     ...     ...
698     70      0       1       1
699      4      0       0      11
700     56      0       1       1
701     53      1       0      22
702     23      1       1      10

[703 rows x 4 columns]

In [45]:
model = tree.DecisionTreeClassifier()

In [46]:
X_train, X_test, y_train, y_test = train_test_split(inputs_n, target, test_size=0.2, random_state=1) # 80% training and 20% test

In [47]:
X_train, xval, y_train, yval = train_test_split(X_train, y_train, test_size=0.25, random_state=1) # 60% training and 20% 20% validation

In [48]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [49]:
model.score(X_test,y_test)

0.3049645390070922

In [50]:
diagnosis = df.Diagnosis.unique
# diagnosis = ["Diagnosis"]

In [51]:
feature_cols = ["Age", "Sex","Race", "Body_Part"]
dot_data = StringIO()
export_graphviz(model, out_file=dot_data, filled=True, rounded=True, special_characters=True,feature_names = feature_cols,class_names=['59', '57', '52', '53', '71', '64', '42', '62', '58', '56', '74', '51', '69'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_png('../../outputs/demographic-injury.png')
Image(graph.create_png())

IndexError: list index out of range